
.sudokuCell{
    position: relative;
    background-color: rgb(110, 192, 240);
    width: 11.11%;
    height: 11.11%;
    padding-bottom: 11.11%;
    border: 1px solid rgb(31, 135, 196);
    color: rgb(100, 104, 109);
    font-family: Inter,sans-serif;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  } 

  .leftBorder {
    border-left: 1px solid rgb(5, 60, 92) !important;
  }

  .rightBorder {
    border-right: 1px solid rgb(5, 60, 92) !important;
  }

  .topBorder {
    border-top: 1px solid rgb(5, 60, 92) !important;
  }

  .bottomBorder {
    border-bottom: 1px solid rgb(5, 60, 92) !important;
  }