<div class = "card m-5" style="width:450px; height:450px;">
  <div style="height: 11.11%">
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
  </div>
  <div style="height: 11.11%">
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
  </div>
  <div style="height: 11.11%">
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
  </div>
  <div style="height: 11.11%">
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
  </div>
  <div style="height: 11.11%">
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
  </div>
  <div style="height: 11.11%">
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
  </div>
  <div style="height: 11.11%">
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
  </div>
  <div style="height: 11.11%">
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
  </div>
  <div style="height: 11.11%">
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
    <div class="number-tile">
      9
    </div>
  </div>
</div>
  