<div class = "card m-5" style="width:450px; height:450px;">
  <div style="height: 11.11%">
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
  </div>
  <div style="height: 11.11%">
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
  </div>
  <div style="height: 11.11%">
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
  </div>
  <div style="height: 11.11%">
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
  </div>
  <div style="height: 11.11%">
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
  </div>
  <div style="height: 11.11%">
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
  </div>
  <div style="height: 11.11%">
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
  </div>
  <div style="height: 11.11%">
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
  </div>
  <div style="height: 11.11%">
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
    <sudoku-cell></sudoku-cell>
  </div>
</div>
  